services:
  elasticsearch:
    image: elasticsearch:9.2.3
    hostname: elasticsearch
    environment:
      discovery.type: single-node
      xpack.security.enabled: false # Disable security for testing
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 9200:9200
      - 9300:9300

  fluentd:
    build: ./fluentd
    volumes:
      - ./fluentd/conf:/fluentd/etc
      - logs:/logs
    depends_on:
      elasticsearch:
        condition: service_healthy
    ports:
      - 8080:8080

  kibana:
    image: kibana:9.2.3
    depends_on:
      elasticsearch:
        condition: service_healthy
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
    ports:
      - 5601:5601

  app:
    build: ./app
    depends_on:
      - fluentd
    ports:
      - 3000:8000
    environment:
      - FLUENTD_HOST=fluentd
      - FLUENTD_PORT=8080

volumes:
  logs: